{% set parent="" %}
{% if is_granted("ROLE_ADMIN") %}
    {% set parent= 'HotelreserveBundle::layout_admin.html.twig' %}
{% elseif is_granted("ROLE_HOTELDAR") %}
    {% set parent= 'HotelreserveBundle::layout_hotel.html.twig' %}
{% endif  %}
{% extends parent %}
{% block content -%}
    <section class="container" style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
            <div style="border: 1px solid #74B749;display: block;">
                <div style="background: #74B749;height: 36px;display: block;">
                    <span style="float: right;margin: 2px 0 0 5px; padding: 6px 5px 6px 10px; color: #fff; font-size: 14px;">
                        <a class="icon-th-large"></a>
                        <a class="icon-chevron-left"></a> <strong>ایجاد اتاق هتل ها</strong>
                    </span>
                </div>
                <div style="display: block;padding: 25px 15px;">
                    <form method="post" {{ form_enctype(form) }}>
                        <table class="table table-condensed" style="width: 100%;">
                            <tbody>
                                <tr class="success">
                                    <td>نوع اتاق :</td>
                                    <td>
                                        {{ form_errors(form.room_type) }}
                                        {{ form_widget(form.room_type) }}</td>
                                    <td>نام اتاق :</td>
                                    <td>
                                        {{ form_errors(form.room_name) }}
                                        {{ form_widget(form.room_name) }}</td>
                                </tr>
                                <tr class="info">
                                    <td>گنجایش اتاق :</td>
                                    <td>
                                        {{ form_errors(form.room_capacity) }}
                                        {{ form_widget(form.room_capacity,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
      || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
      || (95<event.keyCode && event.keyCode<106)
      || (event.keyCode==8) || (event.keyCode==9)
      || (event.keyCode>34 && event.keyCode<40)
      || (event.keyCode==46) )'} }) }}</td>
                                    <td>گنجایش نفر اضافه اتاق :</td>
                                    <td>
                                        {{ form_errors(form.room_addCapacity) }}
                                        {{ form_widget(form.room_addCapacity,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
      || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
      || (95<event.keyCode && event.keyCode<106)
      || (event.keyCode==8) || (event.keyCode==9)
      || (event.keyCode>34 && event.keyCode<40)
      || (event.keyCode==46) )'} }) }}</td>
                                </tr>
                                </tbody>
                        </table>
                        {{ form_widget(form._token) }}
                        <a class="btn btn-primary" href="{{ path("roomentity",{'hotel_id':hotel_id}) }}">برگشت</a>
                        <button class="btn btn-success" type="submit">ایجاد</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
