{% extends 'HotelreserveBundle::layout_admin.html.twig' %}

{% block content -%}
    <section class="container" style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
            <div style="border: 1px solid #d24827;display: block;">
                <div style="background: #d24827;height: 36px;display: block;">
                    <span style="float: right;margin: 2px 0 0 5px;padding: 6px 5px 6px 10px; color: #fff; font-size: 14px;">
                            <a href="" class="icon-th-large"></a>
                            <a href="" class="icon-chevron-left"></a> <strong>درج اطلاعات پایه ای هتل ها</strong>
                    </span>
                </div>
                <div style="display: block;padding: 25px 15px;">
                    <form method="post" {{ form_enctype(form) }}>
                        <table class="table table-condensed" style="width: 100%;">
                            <tbody>
                            <tr class="info">
                                <td>
                                    {{ form_label(form.agency_name) }}
                                </td>
                                <td>
                                    {{ form_errors(form.agency_name) }}
                                    {{ form_widget(form.agency_name,{ 'attr' : {'onkeydown' : 'return !(48<=event.keyCode && event.keyCode<=57)&& !(95<event.keyCode && event.keyCode<111)'} }) }}
                                </td>
                            </tr>
                            <tr class="success">
                                <td>
                                    {{ form_label(form.userEntity) }}
                                </td>
                                <td>
                                    {{ form_errors(form.userEntity) }}
                                    {{ form_widget(form.userEntity) }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {{ form_widget(form._token) }}
                        <a class="btn btn-primary" href="{{ path('admin_agency_index') }}">برگشت</a>
                        <button class="btn btn-success" type="submit">ایجاد</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
