{% extends '::base.html.twig' %}

{% block body -%}
    <h1>agencyEntity list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Account_stock</th>
                <th>Account_changevalue</th>
                <th>Account_status</th>
                <th>Account_requestdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('agency_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.accountstock }}</td>
                <td>{{ entity.accountchangeValue }}</td>
                <td>{{ entity.accountstatus }}</td>
                <td>{% if entity.accountrequestDate %}{{ entity.accountrequestDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('agency_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('agency_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('agency_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
