{% extends '::base.html.twig' %}

{% block body -%}
    <h1>agencyEntity list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Agency_active</th>
            <th>Agency_name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('agencyentity_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                {#<td>{{ entity.agencyactive }}</td>#}
                <td>{{ entity.agencyname }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('agencyentity_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('agencyentity_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('agencyentity_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
