{% extends '::base.html.twig' %}

{% block body -%}
    <h1>userEntity list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>User_firstname</th>
            <th>User_family</th>
            <th>User_phone</th>
            <th>User_roles</th>
            <th>User_mobile</th>
            <th>User_city</th>
            <th>User_accountnumber</th>
            <th>User_cardnumber</th>
            <th>User_namebank</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('registerentity_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.userfirstname }}</td>
                <td>{{ entity.userfamily }}</td>
                <td>{{ entity.userphone }}</td>
                <td>{% if entity.roles[0]== "ROLE_ADMIN" %}
                        مدیر سایت
                    {% elseif entity.roles[0]== "ROLE_HOTELDAR" %}
                        هتل دار
                    {% else %}
                        آژانس
                    {% endif %}

                </td>
                <td>{{ entity.usermobile }}</td>
                <td>{{ entity.usercity }}</td>
                <td>{{ entity.useraccountNumber }}</td>
                <td>{{ entity.usercardNumber }}</td>
                <td>{{ entity.usernameBank }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('registerentity_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('registerentity_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('registerentity_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
