{% extends 'HotelreserveBundle::layout_admin.html.twig' %}
{% block content -%}
    <section class="container" style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
            <div class="" style="border: 1px solid #d24827;display: block;">
                <div class="" style="background: #d24827;height: 36px;display: block;">
                    <span class=""
                          style="float: right;margin: 2px 0 0;padding: 6px 5px 6px 10px; margin-right: 5px; color: #fff; font-size: 14px;">
                        <a href="" class=" icon-th-large"></a>
                        <a href="" class="icon-chevron-left"></a> <strong>ثبت نام کاربران سایت </strong>
                    </span>
                </div>
                <div class="" style="display: block;padding: 25px 15px;">
                    <div class="">
                        <table class="table table-condensed" style="width: 100%;">
                            <form action="{{ path('registerentity_create') }}" method="post" {{ form_enctype(form) }}>
                                <tbody class="text-error">
                                <tr class="success">
                                    <td>
                                        {{ form_label(form.user_firstname,'نام : ') }}
                                        {{ form_errors(form.user_firstname) }}
                                        {{ form_widget(form.user_firstname,{ 'attr' : {'onkeydown' : 'return !(48<=event.keyCode && event.keyCode<=57)&& !(95<event.keyCode && event.keyCode<111)'} }) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.user_family,'نام خانوادگی : ') }}
                                        {{ form_errors(form.user_family) }}
                                        {{ form_widget(form.user_family,{ 'attr' : {'onkeydown' : 'return !(48<=event.keyCode && event.keyCode<=57)&& !(95<event.keyCode && event.keyCode<111)'} }) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.username,'نام کاربری : ') }}
                                        {{ form_errors(form.username) }}
                                        {{ form_widget(form.username) }}
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="info">
                                    <td>
                                        {{ form_errors(form.plainPassword) }}
                                        {{ form_widget(form.plainPassword) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.user_phone,'شماره تلفن : ') }}
                                        {{ form_errors(form.user_phone) }}
                                        {{ form_widget(form.user_phone,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
      || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
      || (95<event.keyCode && event.keyCode<106)
      || (event.keyCode==8) || (event.keyCode==9)
      || (event.keyCode>34 && event.keyCode<40)
      || (event.keyCode==46) )'} }) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.user_mobile,'شماره موبایل : ') }}
                                        {{ form_errors(form.user_mobile) }}
                                        {{ form_widget(form.user_mobile,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
      || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
      || (95<event.keyCode && event.keyCode<106)
      || (event.keyCode==8) || (event.keyCode==9)
      || (event.keyCode>34 && event.keyCode<40)
      || (event.keyCode==46) )'} }) }}
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="success">
                                    <td>
                                        {{ form_label(form.user_city,'شهر : ') }}
                                        {{ form_errors(form.user_city) }}
                                        {{ form_widget(form.user_city,{ 'attr' : {'onkeydown' : 'return !(48<=event.keyCode && event.keyCode<=57)&& !(95<event.keyCode && event.keyCode<111)'} }) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.user_accountNumber,'شماره حساب : ') }}
                                        {{ form_errors(form.user_accountNumber) }}
                                        {{ form_widget(form.user_accountNumber,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
      || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
      || (95<event.keyCode && event.keyCode<106)
      || (event.keyCode==8) || (event.keyCode==9)
      || (event.keyCode>34 && event.keyCode<40)
      || (event.keyCode==46) )'} }) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.user_cardNumber,'شماره کارت اعتباری : ') }}
                                        {{ form_errors(form.user_cardNumber) }}
                                        {{ form_widget(form.user_cardNumber,{ 'attr' : {'onkeydown' : 'return ( event.ctrlKey || event.altKey
      || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false)
      || (95<event.keyCode && event.keyCode<106)
      || (event.keyCode==8) || (event.keyCode==9)
      || (event.keyCode>34 && event.keyCode<40)
      || (event.keyCode==46) )'} }) }}
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="info">
                                    <td>
                                        {{ form_label(form.user_mobile,'نام بانک عامل : ') }}
                                        {{ form_errors(form.user_nameBank) }}
                                        {{ form_widget(form.user_nameBank,{ 'attr' : {'onkeydown' : 'return !(48<=event.keyCode && event.keyCode<=57)&& !(95<event.keyCode && event.keyCode<111)'} }) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.email,'ایمیل : ') }}
                                        {{ form_errors(form.email) }}
                                        {{ form_widget(form.email) }}
                                    </td>
                                    <td>
                                        {{ form_label(form.roles,'متعلق به کاربر : ') }}
                                        {{ form_errors(form.roles) }}
                                        {{ form_widget(form.roles) }}
                                    </td>
                                    <td></td>
                                </tr>
                                {{ form_widget(form._token) }}
                                <table>
                                    <button class="btn btn-primary" style="margin-right:450px;margin-bottom: 20px"
                                            type="submit">
                                        ایجاد کاربر
                                    </button>
                                </table>
                                </tbody>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
