{% extends 'HotelreserveBundle::layout_admin.html.twig' %}
{% block content -%}
    <section class="container"  style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
            <div class="" style="border: 1px solid #4d3d98;display: block;">
                <div class="" style="background: #4d3d98;height: 36px;display: block;">
                    <span class="" style="float: right;margin: 2px 0 0;padding: 6px 5px 6px 10px; margin-right: 5px; color: #fff; font-size: 14px;">
                            <a href="" class=" icon-th-large"></a>
                            <a href="" class="icon-chevron-left"></a> <strong>نمایش لیست مشتریان</strong>
                    </span>
                </div>
                <div class="" style="display: block;padding: 25px 15px;">
                    <div class="">
                        <table class="table table-condensed" style="width: 100%;">
                            <tbody>
                            <table class="table table-bordered" dir="rtl">
                                <thead >
                                <tr>
                                    <th>ردیف</th>
                                    <th>نام مشتری</th>
                                    <th>نام خانوادگی مشتری</th>
                                    <th>ایمیل مشتری</th>
                                    <th>شماره تلفن مشتری</th>
                                    <th>شماره موبایل مشتری</th>
                                    <th>اقدامات</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td><a href="{{ path('customerentity_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                        <td>{{ entity.custname }}</td>
                                        <td>{{ entity.custfamily }}</td>
                                        <td>{{ entity.custemail }}</td>
                                        <td>{{ entity.custphone }}</td>
                                        <td>{{ entity.custmobile }}</td>
                                        <td>
                                            <ul style="list-style-type: none">
                                                <li>
                                                    <a class="badge badge-success" href="{{ path('customerentity_show', { 'id': entity.id }) }}">نمایش</a>
                                                </li>
                                                <li>
                                                    <a class="badge badge-info" href="{{ path('customerentity_edit', { 'id': entity.id }) }}">ویرایش</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination-centered pagination">
                                {{ knp_pagination_render(entities) }}
                            </div>

                            <ul style="list-style-type: none">
                               {# <li>
                                    <a class="btn btn-primary" href="{{ path('customerentity_new') }}">
                                        ایجاد
                                    </a>
                                </li>#}
                            </ul>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
