{% extends '::base.html.twig' %}

{% block body -%}
    <h1>customerEntity list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
            <th>Cust_name</th>
            <th>Cust_family</th>
            <th>Cust_email</th>
            <th>Cust_phone</th>
            <th>Cust_mobile</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('customerentity_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.custname }}</td>
                <td>{{ entity.custfamily }}</td>
                <td>{{ entity.custemail }}</td>
                <td>{{ entity.custphone }}</td>
                <td>{{ entity.custmobile }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('customerentity_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('customerentity_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('customerentity_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
