{% extends 'HotelreserveBundle::layout_admin.html.twig' %}
{% block content -%}
    <section class="container"  style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
            <div class="" style="border: 1px solid #4d3d98;display: block;">
                <div class="" style="background: #4d3d98;height: 36px;display: block;">
                    <span class="" style="float: right;margin: 2px 0 0;padding: 6px 5px 6px 10px; margin-right: 5px; color: #fff; font-size: 14px;">
                            <a href="" class=" icon-th-large"></a>
                            <a href="" class="icon-chevron-left"></a> <strong>درج اطلاعات پایه ای هتل ها</strong>
                    </span>
                </div>
                <div class="" style="display: block;padding: 25px 15px;">
                    <div class="">
                        <table class="table table-condensed" style="width: 100%;">
                            <form action="{{ path('customerentity_create') }}" method="post" {{ form_enctype(form) }}>
                                <tbody>
                                <tr class="success">
                                    <td style="padding-right: 0px;">نام مشتری : &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                        {{ form_errors(form.cust_name) }}
                                        {{ form_widget(form.cust_name) }}
                                    </td>
                                    <td>نام خانوادگی مشتری
                                        {{ form_errors(form.cust_family) }}
                                        {{ form_widget(form.cust_family) }}
                                    </td>
                                </tr>

                                <tr class="info">
                                    <td style="padding-right: 0px;padding-left: 2px">ایمیل مشتری : &nbsp &nbsp &nbsp &nbsp &nbsp
                                        {{ form_errors(form.cust_email) }}
                                        {{ form_widget(form.cust_email) }}
                                    </td>
                                    <td>شماره تلفن مشتری :
                                        {{ form_errors(form.cust_phone) }}
                                        {{ form_widget(form.cust_phone) }}
                                    </td>
                                </tr><tr class="info">
                                    <td style="padding-right: 0px;padding-left: 2px">شماره موبایل مشتری :
                                        {{ form_errors(form.cust_mobile) }}
                                        {{ form_widget(form.cust_mobile) }}
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                {{ form_widget(form._token) }}
                                <button class="btn btn-primary" style="margin-right:400px" type="submit">ایجاد</button>
                                <ul class="record_actions" style="list-style-type: none">
                                    <li>
                                        <a class="btn btn-primary" href="{{ path('customerentity') }}">
                                            برگشت
                                        </a>
                                    </li>
                                </ul>
                                </tbody>
                            </form>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
