{% set parent="" %}
{% if is_granted("ROLE_ADMIN") %}
    {% set parent= 'HotelreserveBundle::layout_admin.html.twig' %}
{% elseif is_granted("ROLE_HOTELDAR") %}
    {% set parent= 'HotelreserveBundle::layout_hotel.html.twig' %}
{% endif  %}
{% extends parent %}

{% block content -%}
    <section class="container"  style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
            <div class="" style="border: 1px solid #74B749;display: block;">
                <div class="" style="background: #74B749;height: 36px;display: block;">
                    <span class="" style="float: right;margin: 2px 0 0;padding: 6px 5px 6px 10px; margin-right: 5px; color: #fff; font-size: 14px;">
                            <a href="" class=" icon-th-large"></a>
                            <a href="" class="icon-chevron-left"></a> <strong>   لیست هتل های شما </strong>
                    </span>
                </div>
                <div class="" style="display: block;padding: 25px 15px;">
                    <div class="">
                        <table class="table table-condensed" style="width: 100%;">
                            <tbody>
                            <table class="table table-bordered" dir="rtl">
                                <thead >
                                <tr class="" >
                                    <th style="text-align: center">ردیف</th>
                                    <th style="text-align: center">نام هتل</th>
                                    <th style="text-align: center">مدیر هتل</th>
                                    <th style="text-align: center">درجه هتل</th>
                                    <th style="text-align: center">شهر اقامت</th>
                                    <th style="text-align: center">کدپستی هتل</th>
                                    <th style="text-align: center">ایمیل</th>
                                    <th style="text-align: center">شماره تلفن</th>
                                    <th style="text-align: center">شماره موبایل</th>
                                    <th style="text-align: center">تعرفه هر نفر اضافه</th>
                                    <th style="text-align: center">دسترسی</th>
                                    <th style="text-align: center">اقدامات</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr class="table table-bordered alert alert-error" >
                                        <td style="text-align: center"><a href="{{ path('hotelentity_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                        <td style="text-align: center">{{ entity.hotelname }}</td>
                                        <td style="text-align: center">{{ entity.hotelmanageName }}</td>
                                        <td style="text-align: center">{{ entity.hotelgrade }}</td>
                                        <td style="text-align: center">{{ entity.hotelcity }}</td>
                                        <td style="text-align: center">{{ entity.hotelzipcode }}</td>
                                        <td style="text-align: center">{{ entity.hotelemail }}</td>
                                        <td style="text-align: center">{{ entity.hotelphone }}</td>
                                        <td style="text-align: center">{{ entity.hotelmobile }}</td>
                                        <td style="text-align: center">{{ entity.hoteladdRoomTtariff }}</td>
                                        <td style="text-align: center">{% if entity.hotelactive==0 %}
                                            دسترسی فعال
                                            {% else  %}
                                            دسترسی غیرفعال
                                            {% endif %}

                                        </td>
                                        <td style="text-align: center">
                                            <ul style="list-style-type: none;">
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <li style="padding-top: 5px;">
                                                        <a class="badge badge-info" href="{{ path('hotelentity_edit', { 'id': entity.id }) }}">ویرایش هتل</a>
                                                    </li>
                                                {% endif %}
                                                <li style="padding-top: 5px;">
                                                    <a class="badge badge-info" href="{{ path('roomentity', { 'hotel_id': entity.id }) }}">لیست اتاق های هتل</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div class="pagination-centered pagination">
                                {{ knp_pagination_render(entities) }}
                            </div>
                            {% if is_granted('ROLE_ADMIN') %}
                                <ul style="list-style-type: none">
                                    <li>
                                        <a class="btn btn-primary" href="{{ path('hotelentity_new') }}">
                                            ایجاد هتل جدید
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
