{% set parent="" %}
{% if is_granted("ROLE_ADMIN") %}
    {% set parent= 'HotelreserveBundle::layout_admin.html.twig' %}
{% elseif is_granted("ROLE_HOTELDAR") %}
    {% set parent= 'HotelreserveBundle::layout_hotel.html.twig' %}
{% elseif is_granted("ROLE_AGENCY") %}
    {% set parent= 'HotelreserveBundle::layout_reserve.html.twig' %}
{% endif  %}
{% extends parent %}
{% block content -%}
    <style type="text/css">
        .psp {
            font-weight: bold;
            font-size: 18px;
            font-family: "b koodak";
        }
    </style>
    <section class="container " style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <form method="post">
            <div class="psp ">
                <table>
                    <fieldset>
                        <legend style="color: #4a8bc2;border-bottom-color: #4a8bc2 ">گزارش گیری صورت حساب بر اساس پارامترها</legend>
                        <br/><br/><tr>
                            <td>از تاریخ :</td>
                            <td>
                                {{ form_errors(form.fromDateTime) }}
                                {{ form_widget(form.fromDateTime) }}
                            </td>
                            <td>تا تاریخ :</td>
                            <td>
                                {{ form_errors(form.toDateTime) }}
                                {{ form_widget(form.toDateTime) }}
                            </td>
                        </tr>
                        <tr>
                            <td>نوع درخواست :</td>
                            <td>
                                {{ form_errors(form.type) }}
                                {{ form_widget(form.type) }}
                            </td>
                            <td>هتل :</td>
                            <td>
                                {{ form_errors(form.hotelEntity) }}
                                {{ form_widget(form.hotelEntity) }}
                            </td>
                            <td>آژانس :</td>
                            <td>
                                {{ form_errors(form.agencyEntity) }}
                                {{ form_widget(form.agencyEntity) }}
                            </td>
                        </tr>
                    </fieldset>
                </table>
            </div>
            <br/>
            <input class="btn btn-danger" type="submit"  value="گزارش گیری">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <img width="64" height="64" src="{{ asset('bundles/assets/img/report.png') }}" class="img-circle">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <input class="btn btn-danger" type="button" value="پرینت اطلاعات">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <img width="64" height="64" src="{{ asset('bundles/assets/img/Print-icon.png') }}" class="img-circle">
            {{ form_widget(form._token) }}
        </form>
        <br/><br/><div class="progress progress-striped active">
            <div class="bar" style="width: 100%"></div>
        </div>
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12"
             style="margin-left: 30px; float: right">
            <div class="" style="border: 1px solid #4a8bc2;display: block;">
                <div class="" style="background: #4a8bc2;height: 36px;display: block;">
                    <span class=""
                          style="float: right;margin: 2px 0 0;padding: 6px 5px 6px 10px; margin-right: 5px; color: #fff; font-size: 14px;">
                            <a href="" class=" icon-th-large"></a>
                            <a href="" class="icon-chevron-left"></a> <strong>گزارش صورت حساب</strong>
                    </span>
                </div>
                <div class="" style="display: block;padding: 25px 15px;">
                    <div>
                        <table class="table table-condensed" style="width: 100%;">
                            <tbody>
                            <table class="table table-bordered" dir="rtl">
                                <thead>
                                <tr>
                                    <th>ردیف</th>
                                    <th>هتل</th>
                                    <th>آژانس</th>
                                    <th>مشتری</th>
                                    <th>اتاق رزروشده</th>
                                    <th>مبلغ(ریال)</th>
                                    <th>نوع</th>
                                    <th>موجودی هتل</th>
                                    <th>موجودی آژانس</th>
                                    <th>شماره پیگیری بانک</th>
                                    <th>تاریخ</th>
                                    <th>اقدامات</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('accountentity_show', { 'id': entity.id }) }}">{{ entity.id }}</a>
                                        </td>
                                        <td>{{ entity.hotelEntity }}</td>
                                        <td>{{ entity.agencyEntity }}</td>
                                        <td>{{ entity.customerEntity }}</td>
                                        <td>{{ entity.reserveEntity }}</td>
                                        <td>{{ entity.price }}</td>
                                        <td>{% if entity.type== "1" %}
                                                خرید
                                            {% elseif entity.type== "2" %}
                                                برداشت
                                            {% elseif entity.type== "3" %}
                                                واریز
                                            {% endif %}</td>
                                        <td>{{ entity.StockHotel }}</td>
                                        <td>{{ entity.StockAgency }}</td>
                                        <td>{{ entity.NumberPey }}</td>
                                        <td>{% if entity.DateTime %}{{ entity.DateTime|date('Y/m/d') }}{% endif %}</td>
                                        <td>
                                            <ul style="list-style-type: none">
                                                <li>
                                                    <a class="badge badge-success"
                                                       href="{{ path('accountentity_show', { 'id': entity.id }) }}">نمایش</a>
                                                </li>

                                            </ul>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
