{% extends 'HotelreserveBundle::layout_hotel.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('bundles/assets/css/TimeLine.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <script src="{{ asset('bundles/assets/js/timeLine.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/assets/js/jquery.balloon.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {{ javaScripts|raw }}
        });
    </script>
{% endblock %}
{% block content -%}
    <section class="container" style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
            <div class="" style="border: 1px solid #88288f;display: block;">
                <div class="" style="background: #88288f;height: 36px;display: block;">
                    <span class=""
                          style="float: right;margin: 2px 0 0;padding: 6px 5px 6px 10px; margin-right: 5px; color: #fff; font-size: 14px;">
                            <a href="" class=" icon-th-large"></a>
                            <a href="" class="icon-chevron-left"></a> <strong>مانیتورینگ وضعیت اتاق ها - ایجاد و ویرایش
                            اتاق های خالی هتل </strong>
                    </span>
                </div>
                <div class="" style="display: block;padding: 25px 15px;">
                    <div class="">
                        <div>
                            <a href="{{ path('hotel_monitoring_index',{'hotel':hotelid, 'month':month, 'year':year}) }}" class="btn btn-primary">بازگشت</a>
                        </div><br>
                        <div style="width:100%;overflow-x: visible;overflow-y: hidden;">
                            <div class="timeLine">
                            </div>
                        </div>
                        <div>
                            <div id="tl_cost_viewer">
                                <div style="direction: rtl;text-align: right;">
                                    <div class="tl_cost_header">مشخصات</div>
                                </div>
                                <div id="tl_showCost" style="width: 100%;"></div>
                            </div>
                            <div id="tl_options">
                                <label for="tl_cost_for_day">قیمت شبانه روز:</label>
                                <input type="number" id="tl_cost_for_day" value="20000" style="width: 85px;">

                                <form id="tl_form" method="post">
                                    <input type="hidden" id="tl_hidden_add" name="empty_added" value="">
                                    <input type="hidden" id="tl_hidden_del" name="empty_deleted" value="">

                                    <div class="btn btn-info" style="position: relative;top:-15px;width: 75px;" onclick="create_array_new_emptys();">
                                        ثبت نهایی
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}