{% extends 'HotelreserveBundle::layout_admin.html.twig' %}

{% block content -%}
    <section class="container" style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
            <div style="border: 1px solid #74B749;display: block;">
                <div style="background: #74B749;height: 36px;display: block;">
                    <span style="float: right;margin: 2px 0 0 5px;padding: 6px 5px 6px 10px; color: #fff; font-size: 14px;">
                            <a href="" class="icon-th-large"></a>
                            <a href="" class="icon-chevron-left"></a> <strong>نمایش لیست مشتریان</strong>
                    </span>
                </div>
                <div style="display: block;padding: 25px 15px;">
                    <table class="table table-bordered table-condensed" style="width: 100%;" dir="rtl">
                        <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>نام مشتری</th>
                            <th>نام خانوادگی مشتری</th>
                            <th>ایمیل مشتری</th>
                            <th>شماره تلفن مشتری</th>
                            <th>شماره موبایل مشتری</th>
                            <th>اقدامات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.custname }}</td>
                                <td>{{ entity.custfamily }}</td>
                                <td>{{ entity.custemail }}</td>
                                <td>{{ entity.custphone }}</td>
                                <td>{{ entity.custmobile }}</td>
                                <td>
                                    <a class="badge badge-info"
                                       href="{{ path('admin_customer_edit', { 'id': entity.id }) }}">ویرایش</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination-centered pagination">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
