{% extends '::base.html.twig' %}

{% block body -%}
    <h1>reserveEntity</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Dateinp</th>
            <td>{{ entity.DateInp|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Countnight</th>
            <td>{{ entity.CountNight }}</td>
        </tr>
        <tr>
            <th>Money</th>
            <td>{{ entity.Money }}</td>
        </tr>
        <tr>
            <th>Codepey</th>
            <td>{{ entity.CodePey }}</td>
        </tr>
        <tr>
            <th>Voucher</th>
            <td>{{ entity.Voucher }}</td>
        </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('reserveentity') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('reserveentity_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
