{% extends 'HotelreserveBundle::layout_hotel.html.twig' %}

{% block content -%}
    <style type="text/css">
        .psp {
            font-weight: bold;
            font-size: 18px;
            font-family: "b koodak", serif;
        }
    </style>
    <section class="container " style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <form method="post">
            <div class="psp ">
                <legend style="color: #4a8bc2;border-bottom-color: #4a8bc2 ">
                    گزارش گیری صورت حساب مالی
                </legend>
                <div class="group1">
                    <table>
                        <tr>
                            <td> از تاریخ :</td>
                            <td>
                                {{ form_errors(form.fromDateTime) }}
                                {{ form_widget(form.fromDateTime,{'id':'pcal1'}) }}
                            </td>
                            <td>تا تاریخ :</td>
                            <td>
                                {{ form_errors(form.toDateTime) }}
                                {{ form_widget(form.toDateTime,{'id':'pcal2'}) }}
                            </td>
                        </tr>
                        <tr>
                            <td>نوع درخواست :</td>
                            <td>
                                {{ form_errors(form.type) }}
                                {{ form_widget(form.type) }}
                            </td>

                            <td>آژانس :</td>
                            <td>
                                {{ form_errors(form.agencyEntity) }}
                                {{ form_widget(form.agencyEntity) }}
                            </td>
                        </tr>
                        <tr>
                            <td>شهر اقامت :</td>
                            <td>
                                {{ form_errors(form.hotel_city) }}
                                {{ form_widget(form.hotel_city,{'id':'citySelect'}) }}
                            </td>
                            <td>هتل :</td>
                            <td>
                                {{ form_errors(form.hotelEntity) }}
                                {{ form_widget(form.hotelEntity,{'id':'hotelSelect'}) }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <br/>
            <input class="btn btn-danger" type="submit" value="گزارش گیری">

            <img width="32" height="32" src="{{ asset('bundles/assets/img/report.png') }}" class="img-circle">

            <input class="btn btn-danger" type="button" value="پرینت اطلاعات" style="margin-right: 200px">

            <img width="32" height="32" src="{{ asset('bundles/assets/img/Print-icon.png') }}" class="img-circle">
            {{ form_widget(form._token) }}
        </form>
        <br/><br/>

        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%"></div>
        </div>
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12"
             style="margin-left: 30px; float: right">
            <div style="border: 1px solid #4a8bc2;display: block;">
                <div style="background: #4a8bc2;height: 36px;display: block;">
                    <span style="float: right;margin: 2px 0 0 5px; padding: 6px 5px 6px 10px; color: #fff; font-size: 14px;">
                            <a href="" class="icon-th-large"></a>
                            <a href="" class="icon-chevron-left"></a> <strong>گزارش صورت حساب مالی</strong>
                    </span>
                </div>
                <div style="display: block;padding: 25px 15px;">
                    <table class="table table-bordered table-condensed" style="width: 100%;">
                        <thead>
                        <tr>
                            <th>ردیف</th>
                            <th>هتل</th>
                            <th>آژانس</th>
                            <th>مشتری</th>
                            <th>اتاق رزروشده</th>
                            <th>مبلغ(ریال)</th>
                            <th>نوع</th>
                            <th>موجودی هتل</th>
                            <th>موجودی آژانس</th>
                            <th>شماره پیگیری بانک</th>
                            <th>تاریخ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.id }}</td>
                                <td>{{ entity.hotelEntity }}</td>
                                <td>{{ entity.agencyEntity }}</td>
                                <td>{{ entity.customerEntity }}</td>
                                <td>{{ entity.reserveEntity }}</td>
                                <td>{{ entity.price }}</td>
                                <td>{% if entity.type== "1" %}
                                        خرید
                                    {% elseif entity.type== "2" %}
                                        برداشت
                                    {% elseif entity.type== "3" %}
                                        واریز
                                    {% endif %}</td>
                                <td>{{ entity.StockHotel }}</td>
                                <td>{{ entity.StockAgency }}</td>
                                <td>{{ entity.NumberPey }}</td>
                                <td>{% if entity.DateTime %}{{ DateConvert.MiladiToShamsi(entity.DateTime,true) }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination-centered pagination">
                        {{ knp_pagination_render(entities) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function () {
            var selCityVal = $("#citySelect").val();
            if (selCityVal.length != 0) {
                var selCity = $("#citySelect option:selected").text();
                $("#hotelSelect").prop('disabled', true);
                $.ajax({
                    type: "Post",
                    url: "{{ path("hotel_reporting_list_hotel_by_city") }}",
                    data: {"city": selCity},
                    cache: false,
                    success: function (result) {
                        $("#hotelSelect").html(result).prop('disabled', false);
                    }
                });
            }
            else
                $("#hotelSelect").html('<option value="">همه هتل ها</option>');
        });

        $("#citySelect").change(function () {
            var selCity = $(this).val() ? $("#citySelect option:selected").text() : "";
            $("#hotelSelect").prop('disabled', true);
            $.ajax({
                type: "Post",
                url: "{{ path("hotel_reporting_list_hotel_by_city") }}",
                data: {"city": selCity},
                cache: false,
                success: function (result) {
                    $("#hotelSelect").html(result).prop('disabled', false);
                }
            });
        });
    </script>
{% endblock %}
