{% extends '::base.html.twig' %}

{% block body -%}
    <h1>moneyEntity</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Money_type</th>
                <td>{{ entity.moneytype }}</td>
            </tr>
            <tr>
                <th>Money_price</th>
                <td>{{ entity.moneyprice }}</td>
            </tr>
            <tr>
                <th>Money_datereq</th>
                <td>{{ entity.moneyDateReq|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Money_datereply</th>
                <td>{{ entity.moneyDateReply|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Money_numbill</th>
                <td>{{ entity.moneyNumBill }}</td>
            </tr>
            <tr>
                <th>Money_datebill</th>
                <td>{{ entity.moneyDateBill|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Money_bankname</th>
                <td>{{ entity.moneyBankName }}</td>
            </tr>
            <tr>
                <th>Money_branch</th>
                <td>{{ entity.moneybranch }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('moneyentity') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('moneyentity_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
