{% set parent="" %}
{% if is_granted("ROLE_ADMIN") %}
    {% set parent= 'HotelreserveBundle::layout_admin.html.twig' %}
{% elseif is_granted("ROLE_HOTELDAR") %}
    {% set parent= 'HotelreserveBundle::layout_hotel.html.twig' %}
{% endif  %}
{% extends parent %}

{% block content -%}
<section class="container"  style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
    <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
        <div class="" style="border: 1px solid #4d3d98;display: block;">
            <div class="" style="background: #4d3d98;height: 36px;display: block;">
                    <span class="" style="float: right;margin: 2px 0 0;padding: 6px 5px 6px 10px; margin-right: 5px; color: #fff; font-size: 14px;">
                            <a href="" class=" icon-th-large"></a>
                            <a href="" class="icon-chevron-left"></a> <strong>نمایش اطلاعات پایه هتل</strong>
                    </span>
            </div>
            <div class="" style="display: block;padding: 25px 15px;">
                <table class="table table-condensed" style="width: 100%;">
                    <tbody>
            <tr>
                <th>ردیف : </th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>مبلغ : </th>
                <td>{{ entity.price }}</td>
            </tr>
            <tr>
                <th>نوع پرداخت : </th>
                <td>{{ entity.type }}</td>
            </tr>
            <tr>
                <th>موجودی هتل : </th>
                <td>{{ entity.StockHotel }}</td>
            </tr>
            <tr>
                <th>موجودی آژانس : </th>
                <td>{{ entity.StockAgency }}</td>
            </tr>
            <tr>
                <th>شماره پیگیری بانک : </th>
                <td>{{ entity.NumberPey }}</td>
            </tr>
            <tr>
                <th>تاریخ : </th>
                <td>{{ entity.DateTime|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions" style="list-style-type: none">
    <li>
        <a class="btn btn-primary" href="{{ path('accountentity') }}">
            Back to the list
        </a>
    </li>
</ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
