{% extends 'HotelreserveBundle::layout_hotel.html.twig' %}
{% block content -%}
    <section class="container" style="width: 95%; margin-top: 20px; margin-bottom: 40px;">
        <div class="span12 responsive" data-tablet="span12 fix-margin" data-desktop="span12">
            <div style="border: 1px solid #74B749;display: block;">
                <div style="background: #74B749;height: 36px;display: block;">
                    <span style="float: right;margin: 2px 0 0 5px;padding: 6px 5px 6px 10px; color: #fff; font-size: 14px;">
                        <a class="icon-th-large"></a>
                        <a class="icon-chevron-left"></a> <strong>نمایش لیست اتاق های هتل </strong>
                    </span>
                </div>
                <div style="display: block;padding: 25px 15px;">
                    <table class="table table-condensed table-bordered" dir="rtl" style="width: 100%;">
                        <thead>
                        <tr>
                            <th style="text-align: center">کداتاق</th>
                            <th style="text-align: center">نوع اتاق</th>
                            <th style="text-align: center">نام اتاق</th>
                            <th style="text-align: center">گنجایش اتاق</th>
                            <th style="text-align: center">گنجایش نفر اضافه اتاق</th>
                            <th style="text-align: center">متعلق به هتل</th>
                            <th style="text-align: center">اقدامات</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td style="text-align: center">{{ entity.id }}</td>
                                <td style="text-align: center">{% if entity.roomtype==1 %}سوئيت1
                                    {% elseif entity.roomtype==2 %}سوئيت2
                                    {% elseif entity.roomtype==3 %}سوئيت3
                                    {% elseif entity.roomtype==4 %}سوئيت vip1
                                    {% elseif entity.roomtype==5 %}سوئيت vip2
                                    {% elseif entity.roomtype==6 %}سوئيت vip3
                                    {% elseif entity.roomtype==7 %}سوئيت جونيور1
                                    {% elseif entity.roomtype==8 %}سوئيت جونيور2
                                    {% elseif entity.roomtype==9 %}سوئيت جونيور3
                                    {% elseif entity.roomtype==10 %}سوئيت پرزيدنت1
                                    {% elseif entity.roomtype==11 %}سوئيت پرزيدنت2
                                    {% elseif entity.roomtype==12 %}سوئيت پرزيدنت3
                                    {% elseif entity.roomtype==13 %}سوئيت رويال1
                                    {% elseif entity.roomtype==14 %}سوئيت رويال2
                                    {% elseif entity.roomtype==15 %}سوئيت رويال3
                                    {% elseif entity.roomtype==16 %}سوئيت امپريال1
                                    {% elseif entity.roomtype==17 %}سوئيت امپريال2
                                    {% elseif entity.roomtype==18 %}سوئيت امپريال3
                                    {% elseif entity.roomtype==19 %}سوئيت لاکچر1
                                    {% elseif entity.roomtype==20 %}سوئيت لاکچر2
                                    {% elseif entity.roomtype==21 %}سوئيت لاکچر3
                                    {% elseif entity.roomtype==22 %}سوئيت دوبلکس1
                                    {% elseif entity.roomtype==23 %}سوئيت دوبلکس2
                                    {% elseif entity.roomtype==24 %}سوئيت دوبلکس3
                                    {% elseif entity.roomtype==25 %}سوئيت لوکس1
                                    {% elseif entity.roomtype==26 %}سوئيت لوکس2
                                    {% elseif entity.roomtype==27 %}سوئيت لوکس3
                                    {% elseif entity.roomtype==28 %}پرنسس روم1
                                    {% elseif entity.roomtype==29 %}پرنسس روم2
                                    {% elseif entity.roomtype==30 %}پرنسس روم3
                                    {% elseif entity.roomtype==31 %}پرزيدنتال1
                                    {% elseif entity.roomtype==32 %}پرزيدنتال2
                                    {% elseif entity.roomtype==33 %}پرزيدنتال3
                                    {% elseif entity.roomtype==34 %}تريپل1
                                    {% elseif entity.roomtype==35 %}تريپل2
                                    {% elseif entity.roomtype==36 %}تريپل3
                                    {% elseif entity.roomtype==37 %}سينگل1
                                    {% elseif entity.roomtype==38 %}سينگل2
                                    {% elseif entity.roomtype==39 %}سينگل3
                                    {% elseif entity.roomtype==40 %}دبل1
                                    {% elseif entity.roomtype==41 %}دبل2
                                    {% elseif entity.roomtype==42 %}دبل3
                                    {% elseif entity.roomtype==43 %}کانکت روم1
                                    {% elseif entity.roomtype==44 %}کانکت روم2
                                    {% elseif entity.roomtype==45 %}کانکت روم3
                                    {% elseif entity.roomtype==46 %}آپارتمان1
                                    {% elseif entity.roomtype==47 %}آپارتمان2
                                    {% elseif entity.roomtype==48 %}آپارتمان3
                                    {% elseif entity.roomtype==49 %}آپارتمان رويال1
                                    {% elseif entity.roomtype==50 %}آپارتمان رويال2
                                    {% else %}آپارتمان رويال3
                                    {% endif %}</td>
                                <td style="text-align: center">{{ entity.roomname }}</td>
                                <td style="text-align: center">{{ entity.roomcapacity }}</td>
                                <td style="text-align: center">{{ entity.roomaddCapacity }}</td>
                                <td style="text-align: center">{{ entity.hotelEntity }}</td>
                                <td style="text-align: center">
                                    <ul style="list-style-type: none">
                                        <li>
                                            <a class="badge badge-info"
                                               href="{{ path('hotel_room_edit', { 'id': entity.id,'hotel_id':hotel_id }) }}">ویرایش</a>
                                            <a class="badge badge-important YesNoMessage" header="حذف"
                                               message="آیا درخواست حذف تایید گردد"
                                               href="{{ path('hotel_room_delete', { 'id': entity.id,'hotel_id':hotel_id }) }}">حذف</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination-centered pagination">
                        {{ knp_pagination_render(entities) }}
                    </div>

                    <a class="btn btn-primary" href="{{ path('hotel_hotel_index') }}">برگشت</a>
                    <a class="btn btn-success" href="{{ path('hotel_room_new',{'hotel_id':hotel_id}) }}">ایجاد اتاق جدید</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
