{% extends '::base.html.twig' %}

{% block body -%}
    <h1>bankEntity</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Bank_au</th>
                <td>{{ entity.bankau }}</td>
            </tr>
            <tr>
                <th>Bank_rand</th>
                <td>{{ entity.bankrand }}</td>
            </tr>
            <tr>
                <th>Bank_timestamp</th>
                <td>{{ entity.bankTimeStamp }}</td>
            </tr>
            <tr>
                <th>Bank_status</th>
                <td>{{ entity.bankstatus }}</td>
            </tr>
            <tr>
                <th>Bank_price</th>
                <td>{{ entity.bankprice }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('bankentity') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('bankentity_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
